.notselected
{
}

.selected
{
	background-color: #FEF0A7;
	border-radius: 5px;
}

#content
{
	width: inherit;
}

.window
{
	background-color: #FFFFFF;
}


.title
{
    font-size: large;
    font-weight: bold;
	margin: 0px 0px 0px 20px;
}

.bookmarksBox
{
	overflow-x: hidden;
	width: 30%;
	background-color: #FEF0A7;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

#tagfooter
{
	height: 100px;
}

#tagContainer label
{
	/*display: inline-block;*/
	/*margin-top: 10px;*/
	padding: 0px 6px 0px 6px;
    white-space:nowrap;
    cursor: pointer;
    border-right-style: solid;
    border-right-width: 1px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#tagContainer label:after
{
	content: ", ";
}

#tagContainer label:hover
{
	background-color: #E0EBFF;
	border-radius: 5px;
}

#tagContainer
{
	display:inline;
    overflow:auto;
	margin-top: 5px;
	margin-bottom:5px;
}

.contentContainer {
	width: inherit;
	-moz-box-align: start;
	-moz-box-pack: start;
	-moz-box-flex: 1;
    padding: 20px 20px;
}

#tagfooter description{
    display: block;
}
