.jumpstartbutton
{
	background-image: none;
}

#jumpStartOpenDialButton{
	list-style-image: url("chrome://jumpstart/skin/img/JumpStart24.png");
}

toolbar[iconsize="small"] #jumpStartOpenDialButton{
	list-style-image: url("chrome://jumpstart/skin/img/JumpStart16.png");
}

.jumpstart-status
{
    list-style-image: url("chrome://jumpstart/skin/img/main_toolbar.png");
    -moz-image-region: rect(16px 40px 32px 24px);
}
/*
#jumpStartOpenDialButton, toolbar[iconsize=small] #jumpStartOpenDialButton {
	list-style-image: url(chrome://jumpstart/skin/img/main_toolbar.png);
}
#jumpStartOpenDialButton{
	-moz-image-region: rect(24px 24px 48px 0);
}
#jumpStartOpenDialButton:hover{
	-moz-image-region: rect(0 24px 24px 0);
}
toolbar[iconsize="small"] #jumpStartOpenDialButton {
	-moz-image-region: rect(16px 40px 32px 24px);
}
toolbar[iconsize="small"] #jumpStartOpenDialButton:hover {
	-moz-image-region: rect(0 40px 16px 24px);
}*/

.customlink {
	cursor: pointer;
	color: -moz-hyperlinktext;
	text-decoration: -moz-anchor-decoration;
	width: inherit;
	-moz-margin-start: 4px;
	-moz-margin-end: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}