#tabViewWindow {
    background-color: transparent;
}

.centerContent {
    -moz-box-pack:center;
    -moz-box-align:center;
}

.bookmarksBar
{
    border: solid 1px #6B90DA;
    margin-bottom: 5px;
}

.bookmarksToolbar
{
    /*-moz-box-flex: 1;*/
    -moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#bookmarksToolbar");
}

.PlacesToolbarDropIndicator{
    list-style-image: url("chrome://browser/skin/places/toolbarDropMarker.png");
}

.bookmarksBarContainer
{
    margin-bottom: 15px;
}

notificationbox {
    -moz-box-pack:center;
    -moz-box-align:center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

notification toolbarbutton {
    text-decoration: underline;
}

.notificationContent {
    overflow: auto;
    height: 40px;
}

#search-box {
    width: inherit;
    margin-right: 10px;
}

.layoutContainer {
	-moz-box-flex: 1;
	-moz-box-pack: center;
}

.contentContainer {
}

#mainBox {
	padding-top: 15px;
	overflow: auto;
	-moz-box-flex: 1;
	-moz-box-pack: center;
}

#mainBox > spacer {
	min-width: 4px;
}

.title {
	font-weight: bold;
}

/*
 * Site Thumbnails
 */
.siteTileContainer {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTileContainer");
	-moz-box-pack: start;
}

/* sizes */
.R43_big .thumb .image, .R169_big .thumb .image, .R1610_big .thumb .image {
        height: 136px;
}

.R43_small .thumb .image, .R169_small .thumb .image, .R1610_small .thumb .image {
            height: 104px;
}


.R43_big{
    height: 171px;
    width: 212px;
}

.R43_big .tileCell > .cellborder, .R43_big .thumb
{
    height: 156px;
    width: 196px;
}

.R43_big .thumb .thumbImage {
    height: 136px;
    width : 196px;
}
        
.R43_small{
    height: 137px;
    width: 163px;
}

.R43_small .tileCell > .cellborder, .R43_small .thumb
{
    height: 122px;
    width: 147px;
}

.R43_small .thumb .thumbImage {
    height: 102px;
    width : 147px;
}
            
.R169_big{
    height: 171px;
    width : 258px;
}

.R169_big .tileCell > .cellborder, .R169_big .thumb
{
    height: 156px;
    width : 242px;
}

.R169_big .thumb .thumbImage {
    height: 136px;
    width : 242px;
}

.R169_small{
    height: 137px;
    width : 197px;
}

.R169_small .tileCell > .cellborder, .R169_small .thumb
{
    height: 122px;
    width : 181px;
}

.R169_small .thumb .thumbImage {
    height: 102px;
    width : 181px;
}

.R1610_big{
    height: 171px;
    width: 234px;
}

.R1610_big .tileCell > .cellborder, .R1610_big .thumb
{
    height: 156px;
    width: 218px;
}

.R1610_big .thumb .thumbImage {
    height: 136px;
    width : 218px;
}

.R1610_small{
    height: 137px;
    width: 179px;
}

.R1610_small .tileCell > .cellborder, .R1610_small .thumb
{
    height: 122px;
    width: 163px;
}

.R1610_small .thumb .thumbImage {
    height: 102px;
    width : 163px;
}
/* end sizes */

.tileCell{
}

.tileCell > .cellborder
{
    border: solid 1px #6B90DA;
    margin-right: 14px;
    margin-bottom: 10px;
}

.thumb {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTile");
	width: inherit;
	margin-right: 14px;
	margin-bottom: 10px;
}

.thumb .thumbImageUrl {
	border: none;
}

.thumb .thumbImage {
	border:none;
}

.thumb .head
{
    width:inherit;
    height:16px;
    margin-bottom: 4px;
    overflow: hidden;
    white-space:nowrap;
}

.thumb .head .thumblink
{
    margin-left: 5px;
    display: inline-block;
}

.thumb .image
{
	width:inherit;
	border: solid 1px #6B90DA;
	position:relative;
}

/*
.tileCell{
    / *width: 212px;* /
    width: 304px;
    height: 171px;
}

.tileCell > .cellborder
{
    border: solid 1px #6B90DA;
    margin-right: 14px;
	margin-bottom: 10px;
	height: 156px;
    / *width: 196px;* /
    width: 288px;
}

.thumb {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTile");
	width: inherit;
	margin-right: 14px;
	margin-bottom: 10px;
	height: 156px;
        / *width: 196px;* /
    width: 288px;
}

.thumb .thumbImageUrl {
	border: none;
}

.thumb .thumbImage {
	border:none;
	width : 288px;
        / *width: 196px;* /
    height: 136px;
}

.thumb .head
{
    width:inherit;
    height:16px;
    margin-bottom: 4px;
    overflow: hidden;
    white-space:nowrap;
}

.thumb .head .thumblink
{
    margin-left: 5px;
    display: inline-block;
}

.thumb .image
{
	width:inherit;
	height:136px;
	border: solid 1px #6B90DA;
	position:relative;
}

/ * classes for small thumbs * /
.smallTileCell{
    width: 163px;
    height: 137px;
}

.smallTileCell > .cellborder
{
    border: solid 1px #6B90DA;
    margin-right: 14px;
	margin-bottom: 10px;
	height: 122px;
    width: 147px;
}

.smallthumb {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTile");
	width: inherit;
	margin-right: 14px;
	margin-bottom: 10px;
	height: 122px;
    width: 147px;
}

.smallthumb .thumbImageUrl {
	border: none;
}

.smallthumb .thumbImage {
	border:none;
	width : 147px;
    height: 102px;
}

.smallthumb .head
{
    width:inherit;
    height:16px;
    margin-bottom: 4px;
    overflow: hidden;
    white-space:nowrap;
}

.smallthumb .head .thumblink
{
    margin-left: 5px;
    display: inline-block;
}

.smallthumb .image
{
	width:inherit;
	height:104px;
	border: solid 1px #6B90DA;
	position:relative;
}*/

.thumbPin
{
	background-color: Transparent;
	float: right;
	top: 0px;
	width: 20px;
	height: 20px;
	display:block;
	margin: 3px 3px;
	background-color: #6B90DA;
	opacity: 0.5;
}

.thumbPin:hover
{
	background-color: #6B90DA;
	opacity: 1;
}

.thumbOverlay{
	position:absolute; 
	height:100%; 
	width:100%; 
	top: 0; 
	left: 0; 
	z-index:9; 
	/*background-color: red; 
	opacity: 0.9;*/
}

.removeLink
{
	background-image: url("chrome://jumpstart/skin/img/close.png");
}

.toRemove
{
	background-color: Red;
}

.toRemove:hover
{
	background-color: Red;
}

.pinLink
{
	background-image: url("chrome://jumpstart/skin/img/pin.png");
}

.pinned
{
	background-color: Red;
}

.pinned:hover
{
	background-color: Red;
}

/*
 * Sidebar content
 */
#sideContainer {
	width: 220px;
        min-width: 220px;
	margin-left: 10px;
}

#sideContainer > .contentContainer  {
    background-color: #E0EBFF;
    width: inherit;
    margin: 5px 0px;
    padding: 4px;
    border-radius: 8px;
}

#sideContainer > #searchContainer{
    padding: 0px;
}

.stackedBackground {
    background-color: #E0EBFF;
    width: inherit;
    border-radius: 8px;
    padding: 9px 4px;
}

#sideContainer .contentContainer > label {
	margin-top: 3px;
}

#sideContainer #recentlyClosedBox {
	background-color: #FEF0A7;
}

#recentlyClosedBoxItems, #recentBookmarksItems {
	width: inherit;
}

/*
 * History Search
 */
.mainSearch {
	float: left;
	text-align: left;
	width: 860px;
	height: 498px;
	padding: 5px 5px 5px 5px;
}

.mainSearch .sidebar-placesTree {
	height: inherit;
	width: inherit;
}

.searchTextBox {
	text-align: left;
}

.searchEngines{
    margin: 10px 0 10px 5px;
    -moz-box-flex: 1;
}

#prefs {
  list-style-image: url("chrome://jumpstart/skin/img/ntjs-toolbar.png");
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}

#thumbsButton {
  list-style-image: url("chrome://jumpstart/skin/img/ntjs-toolbar.png");
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}

#toolbarsButton {
  list-style-image: url("chrome://jumpstart/skin/img/editToolbar.png");
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}

toolbarbutton[anonid=editOK] {
  list-style-image: url("chrome://jumpstart/skin/img/actions.png");
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}

toolbarbutton[anonid=editOK]:hover {
  list-style-image: url("chrome://jumpstart/skin/img/actions.png");
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}

toolbarbutton[anonid=editCancel] {
  list-style-image: url("chrome://jumpstart/skin/img/cancel.png");
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}

toolbarbutton[anonid=editCancel]:hover {
  list-style-image: url("chrome://jumpstart/skin/img/cancel.png");
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}

#slideMenu{
    background-color: -moz-dialog;
    margin-right: 10px;
    padding: 0 2px 2px 2px;
    border-bottom: 1px solid #6B90DA;
    border-left: 1px solid #6B90DA;
    border-right: 1px solid #6B90DA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.removetoolbarbutton, .canceltoolbar{
    background-color:-moz-dialog;
    list-style-image: url("chrome://jumpstart/skin/img/cancel.png");
    -moz-image-region: rect(32px, 16px, 48px, 0px);
}

.removetoolbarbutton:hover, .canceltoolbar:hover{
    background-color:-moz-dialog;
    list-style-image: url("chrome://jumpstart/skin/img/cancel.png");
    -moz-image-region: rect(32px, 32px, 48px, 16px);
}

.addtoolbar{
    background-color:-moz-dialog;
    list-style-image: url("chrome://jumpstart/skin/img/add.png");
    -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.addtoolbar:hover{
    background-color:-moz-dialog;
    list-style-image: url("chrome://jumpstart/skin/img/add.png");
    -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.applytoolbar {
  list-style-image: url("chrome://jumpstart/skin/img/actions.png");
  -moz-image-region: rect(32px, 16px, 48px, 0px);
}

.applytoolbar:hover {
  list-style-image: url("chrome://jumpstart/skin/img/actions.png");
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}