#tabViewWindow {
	/*background-color: #FFF;*/
    background-color: transparent;
}

.bookmarksBar
{
	width:inherit;
	border: solid 1px #6B90DA;
}

#search-box {
    width: inherit;
    margin-right: 10px;
}

.layoutContainer {
	-moz-box-flex: 0;
	-moz-box-pack: center;
}

.contentContainer {
	width: inherit;
	-moz-box-align: start;
	-moz-box-pack: start;
	-moz-box-flex: 0;
}

#mainBox {
	padding-top: 30px;
	overflow: auto;
	-moz-box-flex: 1;
	-moz-box-pack: center;
}

#mainBox > spacer {
	min-width: 4px;
}

.title {
	font-weight: bold;
}

/*
 * Site Thumbnails
 */
.siteTileContainer {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTileContainer");
	-moz-box-pack: start;
}

.tileCell{
    width: 212px;
    height: 171px;
}

.thumb {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTile");
	width: inherit;
	margin-right: 14px;
	margin-bottom: 10px;
	height: 156px;
    width: 196px;
}

.thumb .thumbImageUrl {
	border: none;
}

.thumb .thumbImage {
	border:none;
	width : 196px;
    height: 136px;
}

.thumb .head
{
    width:inherit;
    height:16px;
    margin-bottom: 4px;
    overflow: hidden;
    white-space:nowrap;
}

.thumb .head .thumblink
{
    margin-left: 5px;
    display: inline-block;
}

.thumb .image
{
	width:inherit;
	height:136px;
	border: solid 1px #6B90DA;
	position:relative;
}

/* classes for small thumbs */
.smallTileCell{
    width: 163px;
    height: 137px;
}

.smallthumb {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTile");
	width: inherit;
	margin-right: 14px;
	margin-bottom: 10px;
	height: 122px;
    width: 147px;
}

.smallthumb .thumbImageUrl {
	border: none;
}

.smallthumb .thumbImage {
	border:none;
	width : 147px;
    height: 102px;
}

.smallthumb .head
{
    width:inherit;
    height:16px;
    margin-bottom: 4px;
    overflow: hidden;
    white-space:nowrap;
}

.smallthumb .head .thumblink
{
    margin-left: 5px;
    display: inline-block;
}

.smallthumb .image
{
	width:inherit;
	height:104px;
	border: solid 1px #6B90DA;
	position:relative;
}

.thumbPin
{
	background-color: Transparent;
	float: right;
	top: 0px;
	width: 20px;
	height: 20px;
	display:block;
	margin: 3px 3px;
	background-color: #6B90DA;
	opacity: 0.5;
}

.thumbPin:hover
{
	background-color: #6B90DA;
	opacity: 1;
}

.thumbOverlay{
	position:absolute; 
	height:100%; 
	width:100%; 
	top: 0; 
	left: 0; 
	z-index:9; 
	/*background-color: red; 
	opacity: 0.9;*/
}

.removeLink
{
	background-image: url("chrome://jumpstart/skin/img/close.png");
}

.toRemove
{
	background-color: Red;
}

.toRemove:hover
{
	background-color: Red;
}

.pinLink
{
	background-image: url("chrome://jumpstart/skin/img/pin.png");
}

.pinned
{
	background-color: Red;
}

.pinned:hover
{
	background-color: Red;
}

/*
 * Sidebar content
 */
#sideContainer {
	width: 220px;
	margin-left: 10px;
}

#sideContainer > .contentContainer  {
	background-color: #E0EBFF;
	width: inherit;
	margin: 5px 0px;
	padding: 4px;
	-moz-border-radius: 8px;
}

#sideContainer .contentContainer > label {
	margin-top: 3px;
}

#sideContainer #recentlyClosedBox {
	background-color: #FEF0A7;
}

#recentlyClosedBoxItems, #recentBookmarksItems {
	width: inherit;
}

/*
 * History Search
 */
.mainSearch {
	float: left;
	text-align: left;
	width: 860px;
	height: 498px;
	padding: 5px 5px 5px 5px;
}

.mainSearch .sidebar-placesTree {
	height: inherit;
	width: inherit;
}

.searchTextBox {
	text-align: left;
}
