#tabViewWindow {
	background-color: #FFF;
}

.layoutContainer {
	-moz-box-flex: 0;
	-moz-box-pack: center;
}

.contentContainer {
	width: inherit;
	-moz-box-align: start;
	-moz-box-pack: start;
	-moz-box-flex: 0;
}

#mainBox {
	padding-top: 30px;
	overflow: auto;
	-moz-box-flex: 1;
	-moz-box-pack: center;
}

#mainBox > spacer {
	min-width: 4px;
}

.title {
	font-weight: bold;
}

/*
 * Site Thumbnails
 */
#siteTileContainer {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTileContainer");
	-moz-box-pack: start;
}

.thumb {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#siteTile");
	width: inherit;
	margin-right: 14px;
	margin-bottom: 10px;
	height: 156px;
}

.thumbImageUrl {
	border: none;
}

.thumbImage {
	border:none;
	width : 196px;
    height: 136px;
}

.thumb .head
{
	width:inherit;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
}

.thumb .head .thumblink
{
	/*width:inherit;
	white-space:nowrap;
	overflow: hidden;
	height:inherit;
	display:inline;*/
	margin: 0px 0px 0px 5px;
}

.thumb .image
{
	width:inherit;
	height:136px;
	border: solid 1px #6B90DA;
	position:relative;
}

.thumbPin
{
	background-color: Transparent;
	float: right;
	top: 0px;
	width: 20px;
	height: 20px;
	display:block;
	margin: 3px 3px;
	background-color: #6B90DA;
	opacity: 0.5;
}

.thumbPin:hover
{
	background-color: #6B90DA;
	opacity: 1;
}

.thumbOverlay{
	position:absolute; 
	height:100%; 
	width:100%; 
	top: 0; 
	left: 0; 
	z-index:9; 
	/*background-color: red; 
	opacity: 0.9;*/
}

.removeLink
{
	background-image: url("chrome://jumpstart/skin/img/close.png");
}

.toRemove
{
	background-color: Red;
}

.toRemove:hover
{
	background-color: Red;
}

.pinLink
{
	background-image: url("chrome://jumpstart/skin/img/pin.png");
}

.pinned
{
	background-color: Red;
}

.pinned:hover
{
	background-color: Red;
}

.chooseLink
{
	background-image: url("chrome://jumpstart/skin/img/add.gif");
	display: none;
}

/*
 * Sidebar content
 */
#sideContainer {
	width: 220px;
	margin-left: 10px;
}

#sideContainer > .contentContainer  {
	background-color: #E0EBFF;
	width: inherit;
	margin: 5px 0px;
	padding: 4px;
	-moz-border-radius: 8px;
}

#sideContainer .contentContainer > label {
	margin-top: 3px;
}

#sideContainer #recentlyClosedBox {
	background-color: #FEF0A7;
}

#recentlyClosedBoxItems, #recentBookmarksItems {
	width: inherit;
}

.recentlyClosedItem {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#closedTabLink");
}

.recentBookmarksItem {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#recentBookmarkLink");
}

.recentBookmarksItem, .recentlyClosedItem {
	width: 179px;
	margin-top: 2px;
	margin-bottom: 2px;
	-moz-margin-start: 6px;
	-moz-margin-end: 0px;
}

/*
 * History Search
 */
.mainSearch {
	float: left;
	text-align: left;
	width: 860px;
	height: 498px;
	padding: 5px 5px 5px 5px;
}

.mainSearch .sidebar-placesTree {
	height: inherit;
	width: inherit;
}

.searchTextBox {
	text-align: left;
}

/*
 * XBL styles
 * TODO: (CC) move xbl internal styles to a separate stylesheet
 */
.faviconSiteLink {
	-moz-binding: url("chrome://jumpstart/content/bindings/thumbnail.xml#faviconSiteLink");
	cursor: pointer;
	width: inherit;
}

.faviconSiteLink image {
	height: 16px;
	width: 16px;
}

.faviconSiteLink label {
	cursor: pointer;
	color: -moz-hyperlinktext;
	text-decoration: -moz-anchor-decoration;
	width: inherit;
	-moz-margin-start: 4px;
	-moz-margin-end: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
